.explore{
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /*가로 중간에 오도록*/
  margin-top: 50px;
  border :1px solid #e6e6e6;
  border-radius: 3px;
  background-color: white;
}

.explore .users__user{
    border-bottom: 1px solid #e6e6e6;
    padding : 10px 20px;
    display: flex;
    align-items : center;
    justify-content: space-between;
}

.explore .users__user:last-child{
  border:none;
}/*마지막줄 테두리 삭제*/

.users__user .users__left img{
  border-radius: 50%; /*원 모양으로*/
  height: 56px;
  width: 56px;
}

.users__user .users__left
{
  display: flex; /*이걸 해야함!!!*/
  align-items : center;
}

.explore .users__name{
  margin-left: 20px;
}

.users__username{
  display: block; /*이건 여기  저기 2곳에*/
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.users__full-name{
  display: block; /*이건 여기  저기 2곳에*/
  color : #999;
  font-size: 14px;
}

.users__user button{  /*. users_user__follow button:{*/
  border:0;
  border-radius: 3px;
  color:white;
  padding: 5px 10px;
  background: #3897f0;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.users__user button:active {
  outline: none;
  opacity: 0.7;
}
