.photo {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border :1px solid #e6e6e6;
  border-radius: 3px;
  background-color: white;
  margin-top: 60px;
}

.photo__header{
 display: flex;
 align-items: center;
 font-weight: 600;
}

.photo__header__user-img{
  border-radius: 50%; /*원 모양으로*/
  height: 30px;
  width: 30px;
  margin: 12px;
}

.photo__image{
  max-width: 100%;  /*이렇게!!!!*/
}

.photo__info{
  padding-left: 20px;
  padding-bottom: 0px;
}
.photo__actions{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.photo__actions i:first-child{
  margin-right: 10px;
}

/*이거이거!!!*/
.photo__actions i{
  cursor: pointer;
}
.photo__likes{
  font-weight: 600;
  display: block; /**/
  margin-bottom: 10px;
}

.photo__comments{
  margin-bottom: 7px;
}

.photo__comment a {
  color: #003569;
}

.photo__comment{
  margin: 7px;
  margin-left: 0;
}

.comment__author{
  font-weight: 600;
  margin-right: 10px;
}

.photo__date{
  font-size: 11px;
  color: #999;
  text-transform: uppercase;
  display: block; /*!!!!*/
}

.photo__add-comment{
  margin-top: 10px;
  margin-right: 20px;
  border-top: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
}

.photo__add-comment textarea{
 margin-top: 5px;
 margin-right: 15px;
 padding-top: 10px;
 width : 95%;
 border: 0;

 resize: none; /*요거요거!!!*/
 font-size: 14px;
}

.photo__add-comment textarea:focus{
  outline: none;
  /*border: none;*/
}

.photo__add-comment i{
  cursor: pointer;
}
.photo__comment__comment-input{
  margin-top: 50px;
}
