.photo {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border :1px solid #e6e6e6;
  border-radius: 3px;
  background-color: white;
  margin-top: 60px;
}

.photo__header{
 display: flex;
 align-items: center;
}
.photo .photo__header__user-img{
  border-radius: 50%; /*원 모양으로*/
  height: 56px;
  width: 56px;
  margin: 12px;
}

.photo .photo__header__user-text{
  font-weight: 600;
}

.photo .photo__image{
  height: 600px;
  width : 599px;
}

.photo .photo__info{
  padding-left: 20px;
}
.photo .photo__actions{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.photo_comment_icon-hear{
  padding-right: 100px;
}

.photo .photo__likes{
  font-weight: 600;
  font-size: 12px;
}

.photo__comments{
  margin-top :20px;
}

.photo .photo__comment{
  margin: 8px;
  margin-left: 0;
}
.photo .photo__comment:last-child{
  margin-bottom: 10px;
}
.photo .comment__author{
  font-weight: 600;
  margin-right: 10px;
}

.photo__date{
  font-size: 11px;
  color: #999;
}

.photo__add-comment{
  margin-top: 10px;
  margin-right: 20px;
  border-top: 1px solid #999;
  display: flex;
  align-items: center;
}

.photo__add-comment textarea{
 margin-top: 5px;
 margin-right: 15px;
 height: 45px;
 width : 520px;
 border: none;
}

.photo__add-comment textarea:focus{
  outline: none;
  border: none;
}

.photo__comment__comment-input{
  margin-top: 50px;
}
